<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<script>
    const getCookieValue = (key) => {
        let cookieKey = key + "=";
        let result = "";
        const cookieArr = document.cookie.split(";");

        for(let i = 0; i < cookieArr.length; i++) {
        if(cookieArr[i][0] === " ") {
          cookieArr[i] = cookieArr[i].substring(1);
        }

        if(cookieArr[i].indexOf(cookieKey) === 0) {
          result = cookieArr[i].slice(cookieKey.length, cookieArr[i].length);
          return result;
        }
        }
        return result;
    }
    var getCookie = function(name) {
        var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
    };

    document.write(getCookieValue('id'));
    var nick = decodeURI((getCookie('nickname')); //한글깨짐.. 해결안됨
    document.write(nick);
</script>
<body>
    {% if userInfo is defined %}
        <h1>_id: {{ userInfo._id }}</h1>
        <h1> id: {{ userInfo.id }}</h1>
        <h1> nickname: {{ userInfo.nickname }}</h1>
    {% else %}
        <h1>미로그인</h1>
    {% endif %}

</body>
</html>