<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OUR SCHEDULE</title>
    <link rel="icon" sizes="57x57" href="../static/resources/asset/android-icon-36x36.png">
    <!--  alert 꾸며주는 cdn  -->
    <script src="../static/sweetalert2.all.min.js" defer></script>
    <!--bootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='/static/resources/lib/main.css' rel='stylesheet'/>
    <script src='/static/resources/lib/main.js'></script>
    <script src="/static/resources/lib/locales/ko.js"></script>
    <script src="../static/main.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <!--    create Calendar용 코드-->
    <style>
        .menu a {
            cursor: pointer;
        }

        .menu .hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".menu>a").click(function () {
                $(this).next("ul").toggleClass("hide");
            });
        });
    </script>


</head>
<body>
<div class="wrap">
    <div class="nav">
        <div class="logo">
            <a href="#">
                <i class="xi-night"></i>
                <span>UR SCHEDULE</span>
            </a>
        </div>
        <div class="user-menu">
            <div class="user-profile" id="user-nickname">{{ userInfo.nickname }}</div>
            <button class="logout-btn" onclick=location.href='/api/user/logout'>로그아웃</button>
        </div>
    </div>
    <div class="content">
        <div class="side-nav">
            <ul id="calendar-nav">
                <li id="side-btn-wrap">
                    <button type="button" class="btn btn-outline-dark" onclick="createInviteLink()">초대 링크 만들기</button>
                    <!--                <button type="button" class="btn btn-outline-dark" onclick="createCalendar()">캘린더 추가</button>-->


                    <ul class="menu" style="margin-top: 3px"><a>
                        <button type="button" class="btn btn-outline-dark">팀 캘린더 생성</button>
                    </a>
                        <ul class="hide">

                            <form class="row g-3" style="margin-top: 5px">
                                <div class="col-auto">
                                    <label for="calendarTitle" class="visually-hidden">Password</label>
                                    <input type="text" class="form-control" id="calendarTitle" placeholder="캘린더 제목">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-secondary mb-3" onclick="createCalendar()">
                                        Confirm calendar
                                    </button>
                                </div>
                            </form>

                        </ul>
                    </ul>
                </li>

            </ul>
            <button id="cal-del-btn" onclick="delete_calendar()">현재캘린더 삭제</button>
        </div>

        <div id='calendar'></div>
        <div class="modal enter hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <h1>스케줄 등록하기</h1>
                <h2 id="selec_day"></h2>
                <textarea type="text" id="sche_input" placeholder="내용을 입력해주세요."></textarea>
                <div class="modal_btn_wrap">
                    <button onclick="enter_sche()" id="enter_btn" class="modal_btn">등록</button>
                    <button id="enter_close_btn" class="modal_btn">닫기</button>
                </div>
            </div>
        </div>

        <div class="modal remove hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <h1>스케줄 수정/삭제하기</h1>
                <h2 id="edit_day"></h2>
                <textarea type="text" id="edit_input" placeholder="내용을 입력해주세요."></textarea>
                <div class="modal_btn_wrap">
                    <input type="hidden" id="postId">
                    <button onclick="edit_sche()" id="edit_btn" class="modal_btn">수정</button>
                    <button onclick="delete_sche()" id="delete_btn" class="modal_btn">삭제</button>
                    <button id="edit_close_btn" class="modal_btn">닫기</button>
                </div>
            </div>
        </div>

    </div>

</div>
{% if userInfo is defined %}
<!--    <h3 style="text-align: center">_id: {{ userInfo._id }}</h3>-->
<!--    <h3 style="text-align: center"> id: {{ userInfo.id }}</h3>-->
<!--    <h3 style="text-align: center"> nickname: {{ userInfo.nickname }}</h3>-->
<!--    <h3 style="text-align: center"> calendarId: {{ calendarId }}</h3>-->
{% else %}
<!--    <h6 style="text-align: center">로그인후 사용가능합니다.</h6>-->
{% endif %}
</body>
</html>