<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아워스케줄</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='/resources/lib/main.css' rel='stylesheet'/>
    <script src='/resources/lib/main.js'></script>
    <script src="/resources/lib/locales/ko.js"></script>
    <script src="../static/main.js" defer></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>
<body>
<div class="wrap">
    <div class="nav">
        <div class="logo">
            <i class="xi-night"></i>
            <span>UR SCHEDULE</span>
        </div>
        <div class="user-menu">
            <div class="user-profile"></div>
            <button class="logout-btn">로그아웃</button>
        </div>
    </div>
    <div class="content">
        <div class="side-nav">
            <ul>
                <li class="personal-sche">
                    <a href="#">my schedule</a>
                </li>
                <li class="personal-sche">
                    <a href="#">meeting A</a>
                </li>
                <li class="personal-sche">
                    <a href="#">meeting B</a>
                </li>
            </ul>
        </div>
        <div id='calendar'></div>
        <div class="modal enter hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <h1>스케줄 등록하기</h1>
                <h2 id="selec_day"></h2>
                <textarea type="text" id="sche_input" placeholder="내용을 입력해주세요."></textarea>
                <div class="modal_btn_wrap">
                    <button onclick="enter_sche()" id="enter_btn" class="modal_btn">등록</button>
                    <button id="close_btn" class="modal_btn">닫기</button>
                </div>
            </div>
        </div>

        <div class="modal remove hidden">
            <div class="modal__overlay"></div>
            <div class="modal__content">
                <h1>스케줄 수정/삭제하기</h1>
                <h2 id="edit_day"></h2>
                <textarea type="text" id="edit_input" placeholder="내용을 입력해주세요."></textarea>
                <div class="modal_btn_wrap">
                    <button onclick="" id="edit_btn" class="modal_btn">수정</button>
                    <button onclick="" id="delete_btn" class="modal_btn">삭제</button>
                    <button id="close_btn" class="modal_btn">닫기</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>